<h1>Let's register a student!</h1>

<form action="/register" method = "POST">
    <label for = 'students'>Student:</label>
    <select name = 'studentID' id="students">
        {{#each student}}
            <option value = {{@index}}>{{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select>

    <label for = 'courses'>Class:</label>
    <select name = 'courseID' id = 'courses'>
        {{#each course}}
            <option value = {{@index}}>{{this.courseName}}</option>
        {{/each}}
    </select>

    <br><br>
    <input type="submit" value="Submit">
</form>